K3S_URL="{{ ansible_k3s_env_k3s_url }}"
{% if ansible_k3s_daemon_mode == 'server' %}
{% if ansible_k3s_env_k3s_datastore_endpoint is defined and ansible_k3s_env_k3s_datastore_endpoint != '' %}
K3S_DATASTORE_ENDPOINT="{{ ansible_k3s_env_k3s_datastore_endpoint }}"
{% elif hostvars[groups[ansible_k3s_server_group][0]]['token'] is defined %}
K3S_TOKEN="{{ ansible_k3s_env_k3s_token }}"
{% endif %}
{% elif ansible_k3s_daemon_mode == 'agent' %}
K3S_TOKEN="{{ ansible_k3s_env_k3s_token }}"
{% endif %}
{% if ansible_k3s_service_env_file is defined and ansible_k3s_service_env_file %}
  {% for env in ansible_k3s_service_env_file %}
    {{- env['name'] }}="{{ env['value'] }}"
  {% endfor %}
{% endif %}
